* {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* **** CABEÇALHO **** */

.cabeçalho {
  background-color: #005c53;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 12vh;
}

.hamburguer {
  margin-left: 1rem;
}
.ze-logo-hamburger {
  display: flex;
  align-items: center;
}
header .cabeçalho .usuario-shopping {
  position: relative;
  left: 1rem;
}
nav.cabeçalho {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  border-radius: 1.25rem;
  background-color: rgb(206, 206, 206);
  text-align: center;
  width: 50vw;
}

.usuario-shopping {
  display: flex;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
}
/* **** FIM CABEÇALHO **** */

/* **** LOGIN **** */

h1 {
  font-size: 2rem;
}
.login {
  text-align: center;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}

/* **** FOOTER **** */

.footer {
  background-color: #005c53;
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  justify-content: space-around;
}

.titulo-footer {
  font-family: sans-serif;
  font-weight: 100;
  color: aliceblue;
  font-size: 0.6rem;
}

h3.titulo-footer {
  justify-content: center;
  align-items: center;
}

footer.footer div.socia-media a img {
  margin: 0.5rem;
}
a:link {
  text-decoration: none;
}

/* *****celular***** */

@media (max-width: 400px) {
  .cabeçalho {
    width: 100vw;
  }
  .topnav {
    display: none;
  }
  header nav.cabeçalho div.ze-logo-hamburger div.hamburguer {
    position: relative;
    left: 6rem;
  }
  .footer {
    width: 100vw;
  }
  .titulo-footer {
    display: none;
  }
}
